<!-- Product List -->
<div [ngClass]="{'blur': showModal}" class="flex-1 overflow-y-auto p-8 2xl:px-12">
  <div>
    <div class="flex flex-col justify-center pb-2">
      <h1 class="text-3xl text-center text-gray-700 font-bold pb-4">
        Manage Products
      </h1>
      <p class="text-red-500 text-xl font-semibold text-center">
        {{ deleteMessage }}
      </p>

      <!-- Sort and Search Section Start -->
      <div class="flex justify-between items-center my-4">
        <!-- Sort and Search Div Start -->
        <div class="flex items-center w-full">
          <!-- Sort by Category -->
          <div class="w-1/6- mr-2">
            <select
              class="w-full py-3 pl-4 pr-2 rounded-md"
              [(ngModel)]="selectedCategory"
              (change)="onSortByCategory()"
            >
              <!-- <option value="" disabled selected>Sort by Category</option> -->
              <!-- <option class="" [ngValue]="undefined" [disabled]="true" selected>
                Select Category
              </option> -->

              <!-- "All Products" Option -->
              <!-- <option value="" routerLink="/products">All Products</option> -->
              <option [ngValue]="undefined" selected>All Products</option>

              <option
                *ngFor="let Category of categories"
                [ngValue]="Category.id"
              >
                {{ Category.name }}
              </option>
            </select>
          </div>

          <!-- Search Product -->

          <div class="w-2/6">
            <form>
              <div class="relative">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
                >
                  <svg
                    class="w-6 h-6 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>

                <!-- Bind FormControl to searchQuery input field -->
                <input
                  type="search"
                  id="default-search"
                  [formControl]="searchControl"
                  class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-md bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-100 dark:placeholder-gray-500 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Search Product, name..."
                  required
                />
              </div>
            </form>
          </div>

          <!-- Search end -->
        </div>
        <!-- Sort and Search Div End -->

        <!-- Add Product Button Start -->
        <div class="w-1/6">
          <button
            routerLink="/products/add"
            class="flex items-center text-gray-50 font-semibold py-2 px-3 rounded-md shadow-md
            transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 hover:bg-indigo-500 duration-300 bg-gradient-to-r from-sky-500 to-indigo-500"
          >
            <p class="text-base pr-2">Add Product</p>
            <fa-icon class="text-2xl" [icon]="plusIcon"></fa-icon>
          </button>
        </div>
        <!-- Add Product Button End -->
      </div>
      <!-- Sort and Search Section End -->

      <table class="table-auto text-center font-semibold rounded-xl overflow-hidden">
        <thead class="bg-indigo-200 border-b-4 border-indigo-400 rounded-t-lg">
          <th class="px-4 py-4">SL</th>
          <th class="px-4 py-4">Img</th>
          <th class="px-4 py-4">Name</th>
          <th class="px-4 py-4">Category</th>
          <th class="px-4 py-4">Price</th>
          <th class="px-4 py-4">Quantity</th>
          <th class="px-4 py-4">Description</th>
          <th class="px-4 py-4">Action</th>
        </thead>
      
        <tbody class="bg-gray-50 rounded-b-lg">
          <tr
            *ngFor="let product of products; let i = index"
            class="border-gray-300"
          >
            <td class="px-4 py-4 rounded-l-lg">
              {{ currentPage * pageSize + i + 1 }}
            </td>
            <td class="w-40 h-28 px-4 py-2">
              <img
                class="w-40 h-28 rounded-md cursor-pointer"
                title="Update Product"
                src="{{ product.imgUrl }}"
                alt="pic of {{ product.name }}"
                routerLink="/products/update/{{ product.id }}"
              />
            </td>
            <td class="px-4 py-3">
              <p title="Update Product" class="cursor-pointer" routerLink="/products/update/{{ product.id }}">{{ product.name }}</p>
            </td>
            <td class="px-4 py-3 text-gray-500">
              <button title="Category" routerLink="/category">{{ product.category.name }}</button>
            </td>
            <td class="px-4 py-3">{{ product.price }}</td>
            <!-- <td class="px-4 py-3 text-gray-500">{{ product.quantity }}</td> -->


            <td class="px-4 py-3 text-gray-500">
              <div class="flex items-center justify-center space-x-2">
                <!-- Decrement Button -->
                <button
                  (click)="decrementQuantity(product)"
                  [disabled]="product.quantity <= 0"
                  class="text-red-600 hover:text-red-500 text-2xl"
                  title="Decrement Quantity"
                >
                  <fa-icon [icon]="minusIcon"></fa-icon>
                </button>
            
                <!-- Display Quantity -->
                <p class="text-lg">{{ product.quantity }}</p>
            
                <!-- Increment Button -->
                <button
                  (click)="incrementQuantity(product)"
                  class="text-green-600 hover:text-green-500 text-2xl"
                  title="Increment Quantity"
                >
                  <fa-icon [icon]="plusIcon"></fa-icon>
                </button>
              </div>
            </td>
            


            <td class="px-4 py-2  w-56 2xl:w-72">
              <div class="max-h-[80px] overflow-hidden">
                <p class="2xl:line-clamp-3 line-clamp-2">
                  {{ product.description }}
                </p>
              </div>
            </td>
            <td class="px-4 py-3 text-gray-900 space-x-6 rounded-r-lg">
              <button
                routerLink="/products/update/{{ product.id }}"
                class="text-2xl text-green-600 hover:text-green-500"
                title="Update Product"
              >
                <fa-icon [icon]="editIcon"></fa-icon>
              </button>
              <button
                (click)="deleteProduct(product.id, product.name)"
                class="text-2xl text-red-600 hover:text-red-500"
                title="Delete Product"
              >
                <fa-icon [icon]="deleteIcon"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>

    <!-- btn -->
    <div class="flex justify-center space-x-5 mt-2">
      <button
        *ngIf="hasPrevPage()"
        class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold cursor-pointer"
        (click)="previousPage()"
      >
        <fa-icon class="text-xl mr-2" [icon]="prevIcon"></fa-icon>
        <p>Previous</p>
      </button>
      <button
        *ngIf="hasNextPage()"
        class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold"
        (click)="nextPage()"
      >
        <p>Next</p>
        <fa-icon class="text-xl ml-2" [icon]="nextIcon"></fa-icon>
      </button>
    </div>
  </div>


</div>

<!-- Confirmation Modal -->
<div
*ngIf="showModal"
class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
>
<div class="bg-white rounded-lg p-6 text-center shadow-lg w-1/3">
  <h2 class="text-lg font-semibold mb-4">Are you sure you want to delete  <span class="text-red-500 font-semibold">{{productToDeleteName}}</span> ?</h2>
  <div class="flex justify-center space-x-4">
    <button
      (click)="confirmDelete()"
      class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600"
    >
      Confirm
    </button>
    <button
      (click)="cancelDelete()"
      class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600"
    >
      Cancel
    </button>
  </div>
</div>
</div>
