<div class="container mx-auto p-6 2xl:px-12 2xl:mt-4">
  <h1 class="text-3xl text-center text-gray-700 font-bold mb-4 2xl:mb-10">Dashboard</h1>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6 2xl:gap-8 ">
    <!-- Card 1 -->
    <div class="bg-blue-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center p-6-">
        <div>
          <h2 class="text-4xl font-bold">{{totalProd}}</h2>
          <p class="text-xl font-bold">Total Products</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          🛒
        </div>
      </div>
      <!-- <button routerLink="/products" class="text-white mt-4 inline-block">More info</button> -->
      <div class="bg-gray-300-">
        <button routerLink="/products" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="bg-green-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">{{totalCat}}</h2>
          <p class="text-xl font-bold">Total Category</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          📦
        </div>
      </div>
      <!-- <button routerLink="/category" class="text-white mt-4 inline-block">More info</button> -->
      <div class="bg-gray-300-">
        <button routerLink="/category" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="bg-orange-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">{{totalUs}}</h2>
          <p class="text-xl font-bold">Total Suppliers</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          👥
        </div>
      </div>
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    

    <!-- Card 4 -->
    <div class="bg-red-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">1</h2>
          <p class="text-xl font-bold">Company</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          🏢
        </div>
      </div>
      <!-- <a href="#" class="text-white mt-4 inline-block">More info</a> -->
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="bg-blue-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">3</h2>
          <p class="text-xl font-bold">Stock Products</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          📦
        </div>
      </div>
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="bg-green-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">0</h2>
          <p class="text-xl font-bold">Total Paid Orders</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          💵
        </div>
      </div>
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 7 -->
    <div class="bg-orange-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">2</h2>
          <p class="text-xl font-bold">Total Elements</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          📝
        </div>
      </div>
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>

    <!-- Card 8 -->
    <div class="bg-red-500 opacity-80 text-white p-6 border border-gray-300 rounded-md transform transition duration-500 hover:scale-105 shadow-lg">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-4xl font-bold">2</h2>
          <p class="text-xl font-bold">Total Warehouse</p>
        </div>
        <div class="text-6xl">
          <!-- Replace with an actual icon -->
          🏛️
        </div>
      </div>
      <div class="bg-gray-300-">
        <button routerLink="#" class="bg-gray-400- backdrop-brightness-125 px-4 py-2 rounded-md text-white font-semibold mt-4 inline-block">More info</button>
      </div>
    </div>
  </div>
</div>
