<div
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-5 gap-6 p-6"
>
<!-- Category Card -->
<button
  *ngFor="let category of categories"
  routerLink="/products/{{category.id}}"
  class="cursor-pointer- group relative p-4 border border-gray-300 rounded-lg transform transition duration-500 hover:scale-105 shadow-lg transition-shadow-"
>
  <img
    class="mx-auto mb-4 h-32 w-32 object-contain"
    [src]="category.image"
    [alt]="category.name"
  />
  <h3 class="text-center text-lg font-semibold">{{ category.name }}</h3>
</button>
</div>




<!-- 
categories = [
{ id: 1, name: 'Video Games', image: 'https://i.ibb.co.com/Bz5RgnH/Beautyp-Img.png' },
{ id: 2, name: 'Sports', image: 'https://i.ibb.co.com/c1C21zW/bagImg.png' },
{ id: 3, name: 'Home', image: 'https://i.ibb.co.com/j87mn7g/ShopeImg.png' },
{ id: 4, name: 'Toys', image: 'https://i.ibb.co.com/Bz5RgnH/Beautyp-Img.png' },
{ id: 5, name: 'Electronics', image: 'https://i.ibb.co.com/M80NGfG/Csofa-removebg.png' },
{ id: 6, name: 'Outdoor', image: 'https://i.ibb.co.com/j87mn7g/ShopeImg.png' },
{ id: 7, name: 'Beauty', image: 'https://i.ibb.co.com/Bz5RgnH/Beautyp-Img.png' },
{ id: 8, name: 'Home Improvement', image: 'https://i.ibb.co.com/j87mn7g/ShopeImg.png' },
{ id: 9, name: 'Personal Care', image: 'https://i.ibb.co.com/c1C21zW/bagImg.png' },
{ id: 10, name: 'Auto & Tires', image: 'https://i.ibb.co.com/Bz5RgnH/Beautyp-Img.png' }
]; -->